.main-login{
    display: flex;
    justify-content: center;
    height: 100%;
}
.main-login .container{
    /* width: 40%;
    height: 40%; */
    /* background-color: red; */
    margin: auto;
}
.container form .input-field{
    display: flex;
    justify-content: space-between;
}